@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #fff;

}

.primary-btn {
    background: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.pr128 {
    padding-right: 128px;
}

.p130 {
    padding: 130px 0;
}

.text-center {
    text-align: center;
}

.pb50 {
    padding-bottom: 50px;
}

.mb130 {
    margin-bottom: 130px;
}

/* Hero Style  */
.hero-area {
    background-image: url('../images/banner/banner2.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-content {
    text-align: right;
    width: 50%;
    padding-right: 200px;
}

.hero-content h2 {
    color: rgb(21, 20, 20);
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
}

.hero-content p {
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0 24px 0;
    margin-bottom: 30px;
}

/* Failure Area Start  */
.failure {
    display: flex;
    /* padding: 130px 0; */

}

.failure img {
    object-fit: cover;


}

.failure-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.section-title {
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;

}

.failure-content p {
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 25px 0;
}

.failure-list li {
    list-style: none;
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.failure-list li i {
    color: #F15B22;
    margin-right: 10px;
}

/* Plan Area Start  */
.plan-content {
    display: flex;
    justify-content: space-between;
}

.single-plan img {
    padding-bottom: 20px;
}